.login__title {
  color: #fa7268;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

.login__title:hover{
  text-decoration: none;
  color: #fa7268;
}
.login__background {
  background-image:  url('../assets/image/login.png');
  background-size: cocver;
  height: 100vh;
  background-repeat: no-repeat;
}
.login__background__text {
  color: #333340;
  padding: 1rem 0 5rem 3rem;
}
.login__wrapper {
  padding: 4rem 4rem 8rem 4rem;
  min-height: 100vh;
}
.login__divider {
  border-bottom: 1px solid #b4b4bf;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.login__divider::after {
  content: 'or';
  color: #333340;
  position: absolute;
  right: 44%;
  background-color: white;
  top: -12px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.login__google {
  color: #333340;
}
.login__google h1 {
  font-size: 1.625rem;
  text-align: center;
  font-weight: 400;
}
.login__google p {
  font-size: 0.9375rem;
  color: #707070;
}
.login__google span {
  cursor: pointer;
  font-size: 0.9375rem;
  font-weight: 600;
  color: #fa7268;
}

.login__google span a{
  text-decoration: none;
  font-size: 12px;
  color: #fa7268;
}

.login .login__google__button {
  width: 100%;
  border-radius: 2rem;
  border: 1px solid #b4b4bf !important;
  background-color: white;
  padding: 0.8rem 0 0.8rem 0;
}
.login .login__google__button > span {
  color: #333340;
  font-weight: 600;
  padding-left: 1rem;
}
.login__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.login__input label {
  font-size: 0.875rem;
  font-weight: 700;
  color: #707070;
}
.login__input span {
  font-size: 0.875rem;
  font-weight: 700;
  color: #fa7268;
}
.login__input input::placeholder {
  color: #dedee3;
}
.login__input input {
  border: none;
  border-bottom: 1px solid #dedee3;
}

.login__input input[type="email"] ,
.login__input input[type="password"] {
  width: 100%;
  padding: 1px;
  border: 1px solid #bcbcc1;
  outline: none;
}

.login__input .text_remember {
  margin-bottom: 0;
  margin-left: 0.5rem;
  color: #333340;
  font-weight: 500;
}
.login .login__button {
  width: 100%;
  color: white;
  border-radius: 2rem;
  background-color: #fa7268;
  margin-top: 3rem;
  padding: 0.8rem 0 0.8rem 0;
}
.login .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

@media screen and (max-width: 600px) {
 
  .login__background {
    height: 0; 
   }
  .login__background__text {
    display:none; 
  }
}