.divContent{
    background-color: #f3f5f7;
    text-align: center;
    height: 100vh;
}

.divContent h3{ 
    color: #fa7268;
    padding-top: 100px;
}

.change-password {
    padding-top: 2rem; 
    width: 45%;
    margin: auto;
    margin-top: 26px;
    background-color: white;
}
    .change-password input::placeholder {
      color: #707070;
    }
  
    .change-password input[type="password"] {
       border: 1px solid #e4dfdf;
       padding-bottom: 6px;
       width: 90%;
    }
  
    .change-password p {
      font-size: 0.9375rem;
      color: #707070;
      margin-bottom: 0.5rem;
      margin-top: 3rem;
      margin-left: 50px;
      text-align: left;
    }
  
    .change-password  button {
      width: 40%;
      margin: 2rem;
      border: 1px solid #fa7268;
      background-color: #fa7268;
    } 
    @media screen and (max-width: 600px) {
 
        .change-password  button {
            width: 75%; 
            font-size: 12px;
          } 
      }