.how-it-works {
    margin-right: 2%;
}
.how-it-works__item {
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.how-it-works__item__desc {
    width: 33%;
    padding-left: 5rem;
}
.how-it-works__item__desc h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color:#333340;
    margin-bottom: 2rem;
}
.how-it-works__item__desc p {
    font-size: 1.5rem;
    color:#333340;
    font-weight: 400;
}
.how-it-works__item__image {
    width: 67%;
    padding-left: 40px;
}
.how-it-works__item__image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 59px 99px rgba(0, 0, 0, 0.08);
}
