
#creatorElement{
    height: 100vh;
    position: relative;
}
.svd_container{height: 300vh !important;}
.creator-welcom{
    width: 79% !important;
    position: absolute !important;
    top: 13% !important;
    left: 19% !important;
    z-index: 99 !important;
}
#creatorElement .svd_container .svd_commercial_container{display: none !important;}
 #creatorElement .svd_container svd-pages-editor  {display: none !important;}
 #creatorElement svd-splitter div.svd-splitter {
    display: none !important;
    width: 0px !important;
    padding:0px !important;
    }

    .svd_container .svd_content .svd_survey_designer .svd_editors .svd_questions_editor {
        min-height: auto !important;
    }
 #creatorElement .svd_container .svd_toolbar {display: none !important;}
 #creatorElement .svd-designer-container--left-side .svd-icon-container--left-open, .svd-designer-container--left-side .svd-icon-container--left-close {display: none;}

#creatorElement .svd_container .svd_content .svd_survey_designer .svd_editors .svd_questions_editor {
    padding-top: 0 !important;
}
#creatorElement .svd_survey_designer .svd_editors{
    padding:5% 2% 0 2%!important;

}
.svd_container .svd_content {padding: 0 !important;}
.svd_container .svd_content .svd_survey_designer {position: relative;}
.svd-designer-container--left-side {
    width: 17.51% !important;
    max-width: 17.51% !important;
    flex-basis: 17.51% !important;
    position: relative !important;
    background-color: #fff;
}

.svd-designer-tabbed-container__tab-header-container div:first-child,
.svd-designer-tabbed-container__tab-header-container div:last-child{
    width: 100% !important;
    outline: none !important;
    font-size: 9px;
    color: black !important;
    margin:9% 0 0 5%;
}
 .svd_container .svd-svg-icon {
    width: 13px !important;
    height: 13px !important;
}
.svd_toolbox_item .svd_toolbox_item_text {
    font-size: 10px;
    color: black;
    font-weight: lighter;
}
.svd-designer-tabbed-container__tab-header-active {
    border-bottom: 2px solid #f3f3f5;
}
.svd-survey-placeholder-root .svd-survey-placeholder .svd-empty-message-container .svd-empty-message
{
    color: #b4b4bf !important;
}
.svd-designer-tabbed-container__tab-header:hover {
    color: black;
}
.svd-designer-tabbed-container__tab-header-container div:last-child{
    display: none;
}
.svd_container .svd_toolbox {
    margin:10% 0 0 15%;
    background-color: #fff;
}
.svd_toolbox_item {
    padding: 5% !important;
    background-color: #f3f3f5;
    outline: none !important;
    margin:0 20% 5% 0;
}



.svd_container .svd_content .svd-toolbar-dropdown .svd_custom_select .svd-toolbar-dropdown__select {outline: none;}
.svd_container .svd_custom_select:before {
    background-color: rgb(59, 56, 56) !important;
    outline: none;
    right: 1px !important;
    border-radius: 4px !important;
}
.svd_editor_control {
    border-bottom:1px solid rgb(139, 133, 133) !important;
    border-radius: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    padding: 5px !important;
    align-items: center !important;
    outline: none !important;
}

.svd_container .svd-main-background-color ,
.svd_container .svd-light-background-color{
    background-color: rgb(59, 56, 56) !important;
    outline: none !important;
}
.svd_container .svd-main-background-color:hover::after
{
    left: 8px;
    top: 5px;
    width: 7px;
    height: 10px;
    border: solid rgb(59, 56, 56) ;
    outline: none !important;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.svd_container .svd-main-background-color:hover
{
    outline: none !important;
    background-color: #fff !important;
}
.svd_container a ,
.svd_container .svd-main-color {
    color: rgb(59, 56, 56);
}
.form-control.svd-control.svd-focusable, input.form-control
.svd-accordion-tab-header,.svd-dark-border-color{outline: none !important;}
select{
    height: 34px !important;
    font-size: 12px !important;
    line-height: 20px !important;
}
.svd_object_editor span{font-size: 12px;}

.btn-secondary , .btn, .sv-btn , .btn-primary, .svd-logic-button , .btn-danger, .svd-logic-add-condition-button, .svd-focusable{
    outline: none !important;
    font-size: 10px !important;
    padding:5px !important;
    width: auto;
}
.sjs-cb-switch input:checked + .sjs-cb-switch_control {
    background-color: #71e6c6;
    border-color: #71e6c6;
}
.sjs-cb-switch input:checked + .sjs-cb-switch_control .sjs-cb-switch__button {
    background-color: #f4f4f4;
    border-color: #71e6c6;
    right: 0;
}
table.svd_items_table thead,
table.svd_items_table tbody tr td:first-child,
table.svd_items_table tbody tr td:first-child .svd-drag-handle{font-size: 8px !important;}

table.svd_items_table tbody tr td:first-child .svd-drag-handle svg.svd-svg-icon,
table.svd_items_table tbody tr td:first-child .svd-itemvalue-action svg.svd-svg-icon,
table.svd_items_table tbody tr td.svd-textitems-column svg.svd-svg-icon{
    width: 13px !important;
    height: 13px !important;
}
.sv_main .sv_container {
    background-color: #fff !important;
}
.card-header:first-child {
border: none !important;
border-radius: 0px !important;
}
.svd_container a:focus, 
.svd_container div:focus, 
.svd_container span:focus, .svd_container select:focus,
 .svd_container tr:focus, .svd_container input[type="checkbox"]:focus + span.checkmark {
    outline: none !important;
}
.svd_container .svd-primary-icon .svd-svg-icon {
    fill: #b4b4bf;
}
.sv_main .sv_logo img {
    width: 150px;
    height: 100px;
}
h4.title_editable{
    padding-bottom: 1%;
}
.svd_page > .description_editable {
    margin-bottom: 7%;
}
.svda-question-actions select.svda_current_type {
    border: none;
    outline: none;
    cursor: pointer;
    background: #e0e0e0;
    color: rgb(78, 74, 74);
    font-size: 10px !important;
    align-items: center;
    text-align: center;
    height: 35px !important;
    line-height: 19px !important;
}
.svda_question_action .svda_current_type{
height: 30px !important;
/* line-height: 12px !important; */
width: 165px !important;
align-items: center;
text-align: center;
padding: 4px;
border: none !important;
/* line-height: 30px !important; */
font-size: 10px !important;
}

.svda-question-actions select.svda_current_type option{
    background: #e0e0e0;
    color: rgb(78, 74, 74);
}
.sv_technical, .svda-add-new-item,
span.svda_current_type, span.svd-main-color
.svda-add-custom-item{
    color: #b4b4bf !important;
}
.svda-select-items-editor .svda-select-items-title .svd-main-color,
.svda_question_action--separated span:nth-child(2){
    color: #b4b4bf;
    font-weight: bold;
    font-size: small;
}
.sv_row div div:nth-child(2) div.btn-group label{
    background-color: black;
    color: #fff;
    /* border-color: rgb(253, 125, 105); */
    margin-right: 10px;
}
.sv-boolean__switch{background-color: #71e6c6 !important;}