.footer {
    position: relative;
    bottom: 0 !important;
    height: 3vh;
    width: 100%;
    padding-bottom: 2% !important;
    padding-top: 5% !important;
}
.footer > .a {
    font-size: 0.875rem;
    color:#767680;
}
.footer > p {
    margin-left: 3px;
    margin-right: 3px;
}

